{% extends 'base_venture.html' %}

{% block title %} {% endblock %}

{% block page_title %} Submit Document {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="" class="breadcrumb">Home</a>
                <a class="breadcrumb">Document Form</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
        </div>
    </div>
    <div class="row">
        <p>Documents once added cannot be changed later. They can only be viewed.</p>
        <p>Please make sure document is correct and verified.</p>
        <div class="divider"></div>
    </div>
    <div class="row">
        <div class="error-list">
            {% if form.errors %}
                {% if form.no_field_errors %}
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li class="error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="red-text">
                        <strong>Please correct the errors in the form below.</strong>
                    </p>
                {% endif %}
            {% endif %}
        </div>
        <form class="col l8 m9 s12" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden in form.hidde_fields %}
                {{ hidden }}
            {% endfor %}
            {% include 'field_mdl.html' with field=form.name %}
            <div class="row">
                <div class="file-field input-field col s12">
                    <div class="btn blue">
                        <span>PDF</span>
                        <input type="file" name="document">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path" id="{{ form.document.id_for_label }}" type="text">
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" name="_submit" class="waves-effect waves-light btn blue">
                    Add Document
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}