{% extends 'base_venture.html' %}

{% block title %}{% endblock %}

{% block page_title %}{% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="#" class="breadcrumb">Home</a>
                <a class="breadcrumb"></a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
        </div>
    </div>
    <div class="row">
        <div class="error-list">
            {% if form.errors %}
                {% if form.no_field_errors %}
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li class="error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="red-text">
                        <strong>Please correct the errors in the form below.</strong>
                    </p>
                {% endif %}
            {% endif %}
        </div>
        <form class="col l8 m9 s12" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden in form.hidde_fields %}
                {{ hidden }}
            {% endfor %}
            {% include 'field_mdl.html' with field=form.equity_percentage %}
            {% include 'field_mdl.html' with field=form.currency %}
            {% include 'field_mdl.html' with field=form.amount %}
            {% include 'field_mdl.html' with field=form.max_equity_per_person %}
            {% include 'field_mdl.html' with field=form.deadline %}
            <div>
                <button type="submit" name="_submit" class="waves-effect waves-light btn">
                    Add Campaign
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}