{% extends 'base_venture.html' %}

{% block title %} {% endblock %}

{% block page_title %} Submitted Documents {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="" class="breadcrumb">Home</a>
                <a class="breadcrumb">All Documents Form</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
        </div>
    </div>
    <div class="row">
        <p>All documents added are listed below with hash.</p>
        <div class="divider"></div>
    </div>
    <div class="row">
        {% if doc_list.count < 1 %}
            <p>
                <strong>No document has been posted from this account.</strong>
            </p>
        {% else %}
            <table class="responsive-table centered">
                <thead>
                    <tr>
                        <th>Document Name</th>
                        <th>Details</th>
                        <th>Hash</th>
                        <th>Verifier</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in doc_list %}
                        <tr>
                            <td>{{ d.name }}</td>
                            <td><a class="btn blue" href="{% url 'venture-doc-detail' d.id %}">Link</a></td>
                            <td>{{ d.hash }}</td>
                            <td>{{ d.verifier }}</td>
                            <td>{{d.creation_datetime}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}