{% extends 'base_venture.html' %}

{% block title %} {% endblock %}

{% block page_title %} View Document {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="" class="breadcrumb">Home</a>
                <a class="breadcrumb">Document Form</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row section">
        <h4>{{doc.name}}</h4>
        <p><strong>Details of submitted document are listed below.</strong></p>
        <div class="divider"></div>
        <div class="col l12">
            <div class="row model-field">
                <div class="col l2 m3 s4 field-name">
                    Hash of Previous Document
                </div>
                <div class="col l10 m9 s8 field-value">
                    {{doc.hash}}
                </div>
            </div>
            <div class="row model-field">
                <div class="col l2 m3 s4 field-name">
                    Hash of current Document
                </div>
                <div class="col l10 m9 s8 field-value">
                    {{doc.hash}}
                </div>
            </div>
            <div class="row model-field">
                <div class="col l2 m3 s4 field-name">
                    Submitted On
                </div>
                <div class="col l10 m9 s8 field-value">
                    {{doc.creation_datetime}}
                </div>
            </div>
            <div class="row model-field">
                <div class="col l2 m3 s4 field-name">
                    Verifier Node
                </div>
                <div class="col l10 m9 s8 field-value">
                    {{doc.creation_datetime}}
                </div>
            </div>
            <div class="row model-field">
                <div class="col l2 m3 s4 field-name">
                    Verification Date
                </div>
                <div class="col l10 m9 s8 field-value">
                    {{doc.creation_datetime}}
                </div>
            </div>
            <div class="row model-field">
                <div class="col l2 m3 s4 field-name">
                    Link to Document
                </div>
                <div class="col l10 m9 s8 field-value">
                    <a href="{% url 'venture-doc-download' doc.id %}"><i class="material-icons tiny">insert_drive_file</i>{{doc.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}