{% extends 'base_venture.html' %}
{% load static %}


{% block title %} Venture | Keys {% endblock %}

{% block page_title %}Keys{% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="" class="breadcrumb">Home</a>
                <a class="breadcrumb">Keys Detail</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="section">
                <h4>Keys</h4>
                <div class="divider bottom10"></div>
                <br>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        <i class="material-icons left">vpn_key</i>Public Key
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        <a href="#">{{key.public_key}}</a>
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        <i class="material-icons left">vpn_key</i>Private Key
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        <a href="#">{{key.private_key}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}