{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Centre for Career Development IIT Guwahati">
    <title>Recruiter | Register </title>
    <link href="{% static 'icons/material-icons.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <style>
        .toc-wrapper {
            position: relative;
        }
        .error {
            line-height: 12px;
            position: relative;
            top: -10px;
            color: #F44336;
        }
    </style>
</head>
<body>

<header>
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="" class="brand-logo">VenChain</a>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="section">
                    <h4></h4>
                    <p><strong>Notes</strong></p>
                    <ol>
                        <li>
                            <strong>
                                This form is slightly lengthy so please make sure you don't miss
                                any field.
                            </strong>
                        </li>
                        <li>
                            <strong>
                                We review the registration information before approving the login credentials.
                                You will receive a mail from us regarding your login approval status.
                            </strong>
                        </li>
                    </ol>
                </div>
                <div class="divider bottom10"></div>
                <div class="error-alert">
                    {% if form.errors %}
                        {% if form.non_field_errors %}
                            <ul>
                                {% for error in form.non_field_errors %}
                                    <li class="error">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="red-text">Please correct the errors as shown in the form.</p>
                        {% endif %}
                    {% endif %}
                </div>
                <form method="post" accept-charset="utf-8" enctype="multipart/form-data"
                      action="" class="col l8 m8 s12">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <div id="login-credentials" class="section scrollspy">
                        <h5>Login Information</h5>
                        <div class="divider bottom10"></div>
                        {% include 'field_mdl.html' with field=form.username icon='account_circle' %}
                        {% include 'field_mdl.html' with field=form.email icon='email' %}
                    </div>
                    <div id="basic" class="section scrollspy">
                        <h5>Basic Information</h5>
                        <div class="divider bottom10"></div>
                        {% include 'field_mdl.html' with field=form.registered_company_name icon='business' %}
                        {% include 'field_mdl.html' with field=form.email icon='email' %}
                        {% include 'field_mdl.html' with field=form.registered_id_no icon='subject' %}
                        {% include 'field_mdl.html' with field=form.contact_no icon='call' %}
                        {% include 'field_mdl.html' with field=form.description %}
                        <div class="row">
                            <div class="input-field col s6">
                                <span class="red-text">{{ form.organization_type.errors }}</span>
                                {{ form.organization_type }}
                                {{ form.organization_type.label_tag }}
                                <small>{{ form.organization_type.help_text }}</small>
                            </div>
                            <div class="input-field col s6">
                                <span class="red-text">{{ form.industry_sector.errors }}</span>
                                {{ form.industry_sector }}
                                {{ form.industry_sector.label_tag }}
                                <small>{{ form.industry_sector.help_text }}</small>
                            </div>
                        </div>
                    </div>
                    <div id="valuation" class="section scrollspy">
                        <h5>Valuation</h5>
                        <div class="divider bottom10"></div>
                        {% include 'field_mdl.html' with field=form.currency icon='account_box' %}
                        {% include 'field_mdl.html' with field=form.valuation icon='account_box' %}
                        <div class="file-field input-field col s12">
                            <span class="red-text">{{ form.valuation_document.errors}}</span>
                            <div class="btn">
                                <span><i class="material-icons left">file_upload</i>Valuation Document</span>
                                <input type="file" name="cv1">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path" id="{{ form.cv1.id_for_label }}" type="text">
                            </div>
                            <small>{{ form.valuation_document.help_text }}</small>
                        </div>
                        <div class="file-field input-field col s12">
                            <span class="red-text">{{ form.cash_flow_document.errors}}</span>
                            <div class="btn">
                                <span><i class="material-icons left">file_upload</i>cash flow Document</span>
                                <input type="file" name="cv1">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path" id="{{ form.cash_flow_document.id_for_label }}" type="text">
                            </div>
                            <small>{{ form.valuation_document.help_text }}</small>
                        </div>
                        <div class="file-field input-field col s12">
                            <span class="red-text">{{ form.term_sheet_document.errors}}</span>
                            <div class="btn">
                                <span><i class="material-icons left">file_upload</i>Term Sheet Document</span>
                                <input type="file" name="cv1">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path" id="{{ form.term_sheet_document.id_for_label }}" type="text">
                            </div>
                            <small>{{ form.valuation_document.help_text }}</small>
                        </div>
                        <div class="file-field input-field col s12">
                            <span class="red-text">{{ form.capitalization_document.errors}}</span>
                            <div class="btn">
                                <span><i class="material-icons left">file_upload</i>Capitalization Document</span>
                                <input type="file" name="cv1">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path" id="{{ form.capitalization_document.id_for_label }}" type="text">
                            </div>
                            <small>{{ form.valuation_document.help_text }}</small>
                        </div>
                    </div>
                    <button class="waves-effect waves-light btn " type="submit" name="_submit" >
                        Register
                    </button>
                </form>
                <div class="col l4 m4 hide-on-small-and-down fixed">
                    <div class="toc-wrapper pin-top" style="margin-left: 30px">
                        <ul class="section table-of-contents">
                            <li><a href="#login-credentials">Login Information</a></li>
                            <li><a href="#basic">Basic Information</a></li>
                            <li><a href="#valuation">Business Documents</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</main>

<footer class="page-footer fixed grey darken-1">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Team VenChain</h5>
				<p class="white-text">
				</p>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li>
                        <a class="white-text" href="https://iitg.ernet.in/ccd" target="_blank" rel="noopener noreferrer">

                        </a>
                    </li>
					<li>
                        <a class="white-text" href="https://iitg.ernet.in/" rel="noopener noreferrer">

                        </a>
                    </li>
					<li>
                        <a class="white-text" href="https://iitg.ernet.in/ccd/?p=placement_procedure" rel="noopener noreferrer">

                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://iitg.ernet.in/ccd/?p=faqs" rel="noopener noreferrer">
                            FAQs
                        </a>
                    </li>
				</ul>
			</div>
            <div class="col l3 s12 white-text">
				<h5 class="white-text">Contact</h5>
				<ul>
                    <li>Anurag Mishra</li>
                    <li>Narendra Choudhary</li>
					<li>Prajwala Srivatsa</li>
                    <li>Vaibhav Mathur</li>
				</ul>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row">
			<div class="col l12 m12 s12">
				<p class="grey-text darken-4">Designed and built by
					<span class="white-text">Narendra Choudhary</span>.
			</div>
		</div>
	</div>
	<div class="footer-copyright grey darken-4">
		<div class="container">
			&copy; 2016 IIT Guwahati.
		</div>
	</div>
</footer>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script>
    $(document).ready(function(){
	    $('select').material_select();
		$('.toc-wrapper').pushpin({
			top: 250
		});
		$('.scrollspy').scrollSpy();
	});
</script>
</body>
</html>