{% extends 'base.html' %}
{% load static %}

{% block title %}Recruiter | Confirm Registration{% endblock %}

{% block custom_styles %}
<style>
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
header, main, footer {
    padding-left: 0;
}
</style>
{% endblock %}

{% block nav %}
<nav>
    <div class="container">
        <div class="nav-wrapper">
            <a href="{% url 'login' %}" class="brand-logo">VenChain</a>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col l8 m8 s12">
            <div id="confirm" class="section scrollspy">
                <h4>Registration Confirmed.</h4>
                <div class="divider bottom10"></div>
                <p>
                    Your signup request has been received by VenChain. You can login once your
                    credentials are approved by administrator.
                </p>
                <p>
                    You will receive a confirmation mail on {{ venture.email }} regarding your
                    approval status.
                </p>
            </div>
            <div id="login-credentials" class="section scrollspy">
                <h4>Login Credentials</h4>
                <div class="divider bottom10"></div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Username
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ venture.user_profile.username }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Password
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        A confirmation will be sent to your email shortly.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
