{% extends 'base_venture.html' %}

{% block title %} {% endblock %}
{% block page_title %}  {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="" class="breadcrumb">Home</a>
                <a href="" class="breadcrumb">All Job Applications</a>
                <a class="breadcrumb">Job Details</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col l8 m8 s12">
            <div id="basic-info" class="section">
                <h4>Details</h4>
                <div class="divider bottom10"></div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Amount
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ vec.amount }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Deadline
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{vec.deadline | date:"d M Y"}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
