{% extends 'base_venture.html' %}

{% block title %}{% endblock %}

{% block page_title %} Campaign List {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="" class="breadcrumb">Home</a>
                <a class="breadcrumb">All Campaigns</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h4 class="header">Campaign List</h4>
            <div class="divider"></div>

            {% if vec_list.count > 0 %}
                <table class="table responsive-table centered">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Equity</th>
                            <th>Amount</th>
                            <th>Created On</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vec in vec_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ vec.equity_percentage }}</td>
                            <td>{{ vec.amount }} {{vec.currency}}</td>
                            <td>{{ vec.creation_datetime }}</td>
                            <td>
                                <a href="{% url 'venture-vec-detail' vec.id %}" class="btn">Details</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}