{% extends 'base_investor.html' %}

{% block title %}{% endblock %}

{% block page_title %}Invest!{% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="" class="breadcrumb">Home</a>
                <a class="breadcrumb">Campaigns</a>
                <a class="breadcrumb">Make Investment</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h4 class="header">Make Investment</h4>
            <p>
                The amount you can invest must be in between <strong>$10</strong>
                and <strong>${{vec.max_invest_per_person}}</strong>.
            </p>
            <p>Once you confirm your investment, the funds will be transferred to an
                escrow account for safe-keeping until the fundraising is closed. Once the
                fundraising round closes, you will receive confirmation of success and a link
                to the counter-signed legal agreements
            </p>
        </div>
    </div>
    <div class="row section">
        <div class="col l8 m9 s12">
            <div class="error-list">
                {% if form.errors %}
                    {% if form.no_field_errors %}
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="red-text">
                            <strong>Please correct the errors in the form below.</strong>
                        </p>
                    {% endif %}
                {% endif %}
            </div>
            <form method="post" accept-charset="utf-8" enctype="multipart/form-data">
                {% csrf_token %}
                {% for hidden in form.hidde_fields %}
                    {{ hidden }}
                {% endfor %}
                <div class="row">
                    <div class="input-field col s12">
                        <span class="red-text">{{ form.amount_invested.errors }}</span>
                        {{ form.amount_invested }}
                        {{ form.amount_invested.label_tag }}
                        {% if form.amount_invested.help_text %}<p>{{ form.amount_invested.help_text | safe }}</p>{% endif %}
                    </div>
                </div>
                <p>
                    <input type="checkbox" id="check" class="filled-in" />
                    <label for="check">I have read the terms and conditions.</label>
                </p>
                <div>
                    <button id="submit" type="submit" name="_submit" class="waves-effect waves-light btn blue" disabled="true">
                        Invest
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}

{% block end_scripts %}
<script>
    $(document).ready(function() {
        $("#check").change(function() {
            if(this.checked) {
                $("#submit").removeAttr("disabled");
            } else {
                $("#submit").attr("disabled", true);
            }
        })
    });
</script>
{% endblock %}