{% extends 'base_investor.html' %}

{% block title %}{% endblock %}

{% block page_title %} All Investments {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="">Home</a>
                <a class="breadcrumb">All Investments</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="section">
                <h4>All Investments</h4>
                <div class="divider bottom10"></div>

                {% if fund_list.count < 1 %}
                    <p>
                        <strong>No Investment has been posted from this account.</strong>
                    </p>
                {% else %}
                    {% for f in fund_list %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}