{% extends 'base_investor.html' %}

{% block title %} Venture | Home {% endblock %}

{% block page_title %} Home {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a class="breadcrumb">Home</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="section">
                <h4 class="header">Home</h4>
                <div class="divider bottom10"></div>

            </div>
        </div>
    </div>
</div>
{% endblock %}