{% extends 'base_investor.html' %}

{% block title %}{% endblock %}

{% block page_title %} Current Campaigns {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="" class="breadcrumb">Home</a>
                <a class="breadcrumb">All Campaigns</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h4 class="">Own a Piece of Your Favorite Company with Equity CrowdFunding</h4>
            <div class="divider"></div>
            <br>
            <br>
            <div class="row">
                {% for v in vec_list %}
                    <div class="col s12 l4 m4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="http://materializecss.com/images/office.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">
                                    <strong>{{v.venture.registered_company_name}}</strong>
                                </span>
                                <p><i class="material-icons tiny">location_on</i>Mumbai, India</p>
                                <br>
                                <div>
                                    <p >
                                        {{v.venture.description}}
                                    </p>
                                </div>
                                <div>
                                    <ul>
                                        <li>
                                            <p><strong>Valuation: </strong> {{v.currency}} {{v.venture.valuation}}</p>
                                        </li>
                                        <li>
                                            <p><strong>Price per Share: </strong> {{v.currency}} {{v.price_per_share}}</p>
                                        </li>
                                        <li>
                                            <p><strong>Number of Shares: </strong> {{v.num_shares}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-action">
                                <a class="button" href="{% url 'investor-get-venture' v.id %}">See More</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}