{% extends 'base_investor.html' %}


{% block title %}{% endblock %}

{% block page_title %}Campaign Detail{% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="" class="breadcrumb">Home</a>
                <a href="" class="breadcrumb">All Campaign</a>
                <a class="breadcrumb">Campaign Details</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
        {% if fund %}
        <div class="row">
            <br>
            <div class="col l12">
                <div class="col l12">
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content">
                                {% if new %}
                                <p><strong>
                                    Your investment of {{fund.vec.currency}}
                                    {{fund.amount_invested}} has been made in this campaign
                                    has been made. You'll be issued a
                                    contract very shortly.
                                </strong></p>
                                {% else %}
                                <p><strong>
                                    You've already made an investment to this campaign.
                                </strong></p>
                                {% endif %}
                            </div>
                            <div class="card-action">
                                <a href="" class="btn blue">details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        {% else %}
        <br>
        <br>
        {% endif %}
        <div class="row">
            <div class="col l3" style="border-right: lightgrey 2px dashed">
                <div class="row model-field">
                    <div class="col l8 m3 s4 field-name">
                        Equity Percentage
                    </div>
                    <div class="col l4 m9 s8 field-value">
                        {{ vec.equity_percentage }} %
                    </div>
                </div>
                <div class="row model-field hide-on-small-and-down">
                    <div class="col l8 m3 s4 field-name">
                        Amount
                    </div>
                    <div class="col l4 m9 s8 field-value right">
                        {{ vec.amount }} {{vec.currency}}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l8 m3 s4 field-name">
                        Max Equity Per Person (%)
                    </div>
                    <div class="col l4 m9 s8 field-value">
                        {{ vec.max_equity_per_person }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l8 m3 s4 field-name">
                        Deadline
                    </div>
                    <div class="col l4 m9 s8 field-value">
                        {{ vec.deadline | date:"d M Y" }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l8 m3 s4 field-name">
                        Opening Date
                    </div>
                    <div class="col l4 m9 s8 field-value">
                        {{vec.creation_datetime | date:"d M Y"}}
                    </div>
                </div>
            </div>
            <div class="col l3" style="border-right: lightgrey 2px dashed">
                <div class="row model-field">
                    <div class="col l12 m3 s4 field-name">
                        Description
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l12 m9 s8 field-value">
                        {{vec.venture.description}}
                    </div>
                </div>
            </div>
            <div class="col l6">
                <p>{{vec.percentage_raised}}% Funded</p>
                <div class="progress" style="background-color: lightgrey !important; height: 20px !important;">
                    <div class="determinate"
                         style="width: {{vec.percentage_raised}}%; background-color: limegreen !important;"></div>
                </div>
                <p>Minimum Investment: $100</p>
            </div>
        </div>
        <div class="row">
            <div class="col right">
                {% if fund %}
                <a class="btn blue" href="" disabled="true">Invest</a>
                {% else %}
                <a class="btn blue" href="{% url 'investor-create-fund' vec.id %}">Invest</a>
                {% endif %}
            </div>
        </div>
</div>
    {% endblock %}