{% extends 'base.html' %}
{% load static %}

{% block nav %}
    <nav class="top-nav">
        <div class="container">
            <div class="nav-wrapper">
                <a class="page-title">
                    {% block page_title %}{% endblock %}
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <a href="#" data-activates="slide-out"
           class="button-collapse top-nav full hide-on-large-only">
            <i class="material-icons">menu</i>
        </a>
    </div>

    <ul class="side-nav fixed" id="slide-out">
		<li class="logo">
			<p id="logo-container" class="brand-logo">
				<img id="institute-logo" src="{% static 'img/vc2.png' %}">
			</p>
		</li>
        <li><div class="divider"></div></li>
        <li>
            <a href="">
                <i class="material-icons">person</i>Profile
            </a>
        </li>
        <li><div class="divider"></div></li>
        <li><a href="{% url 'investor-list-ventures' %}">
            <i class="material-icons">format_list_bulleted</i>All Ventures</a></li>
        <li><a href="{% url 'investor-list-ventures' %}">Trending Ventures
            <i class="material-icons">whatshot</i></a>
        </li>
        <li><div class="divider"></div></li>
        <li><a href="">
            <i class="material-icons">assignment_turned_in</i>Investment History
        </a></li>

        <li>
            <a href="">
                <i class="material-icons">settings</i>Settings
            </a>
        </li>
        <li>
            <a href="">
                <i class="material-icons">question_answer</i>Feedback
            </a>
        </li>
        <li><div class="divider"></div></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
	</ul>
{% endblock %}
