{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="description" content="Centre for Career Development IIT Guwahati">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link href="{% static 'icons/material-icons.css' %}" rel="stylesheet">
{#	<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">#}
	<link rel="stylesheet" href="{% static 'css/materialize.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/events.css' %}">
    {% block custom_styles %}{% endblock %}
</head>

<body>
<header>
    {% block nav %}{% endblock %}
    {% block breadcrumb %}{% endblock %}
</header>

<main>
	{% block main %}{% endblock %}
</main>

<footer class="page-footer fixed grey darken-1">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Team VenChain</h5>
				<p class="white-text">
					Venchain is an Equity Crowdfunding Platform built and maintained by HSBC Technology. The genesis of this platform occured as a result of CodeGrind Hackathon in HTI Pune. VenChain allows ventures to raise funds and investors to buy equity seamlessly over the online platform. It is bolstered by a solid back-end on blockchain which keeps the process secure as well as transparent.
				</p>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li>
                        <a class="white-text" href="#" target="_blank" rel="noopener noreferrer">

                        </a>
                    </li>
					<li>
                        <a class="white-text" href="#" rel="noopener noreferrer">

                        </a>
                    </li>
					<li>
                        <a class="white-text" href="#" rel="noopener noreferrer">

                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="#" rel="noopener noreferrer">
                            FAQs
                        </a>
                    </li>
				</ul>
			</div>
            <div class="col l3 s12 white-text">
				<h5 class="white-text">Team</h5>
				<ul>
					<li>Anurag Mishra</li>
                    <li>Narendra Choudhary</li>
					<li>Prajwala Srivatsa</li>
                    <li>Vaibhav Mathur</li>
				</ul>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row">
			<div class="col l12 m12 s12">
				<p class="grey-text darken-4">Designed and built by
					<span class="white-text">Team VenChain</span>.
			</div>
		</div>
	</div>
	<div class="footer-copyright grey darken-4">
		<div class="container">
			&copy; 2017 VenChain.
		</div>
	</div>
</footer>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
<script src="{% static 'js/events.js' %}"></script>

<script>
    $(".button-collapse").sideNav({
        draggable: true
    });
    $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 100,
        format: 'yyyy-mm-dd',
      });
	$(document).ready(function(){
	    $(".dropdown-button").dropdown();
	    $('select').material_select();
		$('.toc-wrapper').pushpin({
			top: 250
		});
		$('.scrollspy').scrollSpy();
		$('table').each(function () {
            $(this).tablesorter();
        })
	});
</script>

{% block end_scripts %}{% endblock %}

</body>
</html>