{% extends 'base.html' %}
{% load static %}

{% block nav %}
    <nav class="top-nav">
        <div class="container">
            <div class="nav-wrapper">
                <a class="page-title">
                    {% block page_title %}{% endblock %}
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <a href="#" data-activates="slide-out"
           class="button-collapse top-nav full hide-on-large-only">
            <i class="material-icons">menu</i>
        </a>
    </div>

    <ul class="side-nav fixed" id="slide-out">
		<li class="logo">
			<p id="logo-container" class="brand-logo">
				<img id="institute-logo" src="{% static 'img/vc2.png' %}">
			</p>
		</li>
        <li>
            <a href="">
                <i class="material-icons">person</i>Profile
            </a>
        </li>
        <li><div class="divider"></div></li>
        <li>
            <a href="{% url 'venture-get-key' %}">
                <i class="material-icons">vpn_key</i>Signature
            </a>
        </li>
        <div class="divider"></div>
        <li>
            <a href="{% url 'venture-doc-create'%}">
                <i class="material-icons">insert_drive_file</i>Send documents
            </a>
        </li>
        <li>
            <a href="{% url 'venture-doc-list'%}">
                <i class="material-icons">assignment_returned</i>Submitted Documents
            </a>
        </li>
        <li>
            <a href="">
                <i class="material-icons">assignment_turned_in</i>Certified Documents
            </a>
        </li>
        <li><div class="divider"></div></li>
        <li>
            <a href="{% url 'venture-vec-create' %}">
                <i class="material-icons">flag</i>Start a Campaign
            </a>
        </li>
        <li>
            <a href="{% url 'venture-vec-list' %}">
                <i class="material-icons">history</i>Previous Campaigns
            </a>
        </li>
        <li>
            <a href="">
                <i class="material-icons">attach_money</i>Funds Received
            </a>
        </li>
        <li>
            <a href="">
                All Announcement
            </a>
        </li>
        <li><div class="divider"></div></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
	</ul>
{% endblock %}
